{% extends "base.html" %} {% block content %}
{% if message %}
  {{ message }}
{% endif %}
<article>
  <h3>Ein neues Gericht hinzufügen</h3>
  <form name="nameinput" action="{{ url_for('formValidate') }}" method="post">
    <div>
      <label for="name">Gerichtname:</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="beschreibung">Beschreibung:</label>
      <input type="text" id="beschreibung" name="beschreibung">
    </div>
    <div>
      <label for="preis">Preis:</label>
      <input type="text" id="preis" name="preis">
    </div>
    <div>
      <button type="submit" name="button">Abschicken</button>
    </div>
  </form>
</article>
{% endblock %}
{% block aside %} Sidebar mit Inhalt {% endblock %}
